#work
  background: url('capa.png') no-repeat
  background-size: cover

  .page-description
    color: white
    margin-top: 130px
    margin-left: -20px

#projects

  .item-thumbs .hover-wrap .overlay-img-thumb     
    background: #34255b  
    opacity: 0.45
    filter: alpha(opacity=45)

    top: 0%
    left: 0%
    margin: 0px
    font-size: 14px
    text-align: center
    width: 100%
    height: 100%
    display: table
    
    .font-icon-search
      position: absolute
      top: 40px
      left: 50%

    p 
      display: table-cell
      vertical-align: middle
      text-align: center
      padding 20px