
/#home-slider  
/    .overlay
/    .container
/        .row
/            .span12
/                slider-text
/                    #slidecaption  

ul.bxslider
  img.image-slider src="assets/4.jpg"
  img.image-slider src="assets/3.jpg"
  img.image-slider src="assets/1.jpg"
  
  
