.title-page
  / h3.title-description
  /   = edit_me :home_title_description do 
  /     Check Out Our Projects on 

  .page-description
    p
     'Arquitetura é forma.<br/>
      E espaço.<br/>
      Arquitetura é leveza.<br/>
      De proporções e ideias.<br/>
      Arquitetura é simbolismo.<br/>
      Da simetria e do equilíbrio. <br/>
      Arquitetura é medida.<br/>
      De paredes e desejos.<br/>
      Arquitetura é razão.<br/>
      E sonho.<br/>

      

