
<!-- This section is for Splash Screen
<div class="ole">
<section id="jSplash">
  <div id="circle"></div>
</section>
-->
<!-- End of Splash Screen -->

<!-- Header -->
<header>
  <div class="sticky-nav">
    <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>

    <div id="logo">
      <a id="goUp" href="#home-slider" title="Studio M4 Arquitetura">Studio M4</a>
    </div>

    <nav id="menu">
      <ul id="menu-nav">
        <li class="current"><a href="#work">Studio M4</a></li>
        <li><a href="#about">Equipe</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </nav>

  </div>
</header>
<!-- End Header -->

<!-- Our Work Section -->
<div id="work" class="page">
  <div class="container">
    <!-- Title Page -->
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Studio M4</h2>
          <h3 class="title-description">
            <%= edit_me :home_title_description do %>
            Check Out Our Projects on 
            <% end %>
          </h3>


          <div class="page-description">
            <p class="edit_me">
              <%= edit_me :home_text do %>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. 
              Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus. 
              <% end %>
            </p>
          </div>

        </div>    
      </div>
    </div>
    <!-- End Title Page -->

    <!-- Portfolio Projects -->
    <div class="row">
      <div class="span12">
        <!-- Filter -->
        <nav id="options" class="work-nav">
          <ul id="filters" class="option-set" data-option-key="filter">
            <li><a href="#filter" data-option-value="*" class="selected">Todos os projetos</a></li>
            <li><a href="#filter" data-option-value=".residencial">Residencial</a></li>
            <li><a href="#filter" data-option-value=".reformas">Reformas</a></li>
            <li><a href="#filter" data-option-value=".interiores">Interiores</a></li>
            <li><a href="#filter" data-option-value=".comercial">Comercial</a></li>
          </ul>
        </nav>
        <!-- End Filter -->
      </div>

      <div class="span12">
        <div class="row">
          <section id="projects">
            <ul id="thumbs">

              <!-- Item Project and Filter Name -->
              <li class="item-thumbs span3 residencial">
                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="assets/work/full/image-01-full.jpg">
                  <span class="overlay-img"></span>
                  <span class="overlay-img-thumb font-icon-search"></span>
                </a>
                <!-- Thumb Image and Description -->
                <img src="assets/work/thumbs/image-01.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
              </li>
              <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
              <li class="item-thumbs span3 residencial">
                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Office" href="assets/work/full/image-02-full.jpg">
                  <span class="overlay-img"></span>
                  <span class="overlay-img-thumb font-icon-search"></span>
                </a>
                <!-- Thumb Image and Description -->
                <img src="assets/work/thumbs/image-02.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
              </li>
              <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
              <li class="item-thumbs span3 interiores">
                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="assets/work/full/image-03-full.jpg">
                  <span class="overlay-img"></span>
                  <span class="overlay-img-thumb font-icon-search"></span>
                </a>
                <!-- Thumb Image and Description -->
                <img src="assets/work/thumbs/image-03.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
              </li>
              <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
              <li class="item-thumbs span3 comercial">
                <!-- Fancybox Media - Gallery Enabled - Title - Link to comercial -->
                <a class="hover-wrap fancybox-media" data-fancybox-group="comercial" title="comercial Content From Vimeo" href="http://vimeo.com/51460511">
                  <span class="overlay-img"></span>
                  <span class="overlay-img-thumb font-icon-search"></span>
                </a>
                <!-- Thumb Image and Description -->
                <img src="assets/work/thumbs/image-08.jpg" alt="comercial">
              </li>
              <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
              <li class="item-thumbs span3 interiores">
                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Sea" href="assets/work/full/image-04-full.jpg">
                  <span class="overlay-img"></span>
                  <span class="overlay-img-thumb font-icon-search"></span>
                </a>
                <!-- Thumb Image and Description -->
                <img src="assets/work/thumbs/image-04.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
              </li>
              <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
              <li class="item-thumbs span3 interiores">
                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clouds" href="assets/work/full/image-05-full.jpg">
                  <span class="overlay-img"></span>
                  <span class="overlay-img-thumb font-icon-search"></span>
                </a>
                <!-- Thumb Image and Description -->
                <img src="assets/work/thumbs/image-05.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
              </li>
              <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
              <li class="item-thumbs span3 comercial">
                <!-- Fancybox Media - Gallery Enabled - Title - Link to comercial -->
                <a class="hover-wrap fancybox-media" data-fancybox-group="comercial" title="comercial Content From Vimeo" href="http://vimeo.com/50834315">
                  <span class="overlay-img"></span>
                  <span class="overlay-img-thumb font-icon-search"></span>
                </a>
                <!-- Thumb Image and Description -->
                <img src="assets/work/thumbs/image-09.jpg" alt="comercial">
              </li>
              <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
              <li class="item-thumbs span3 residencial">
                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Dark" href="assets/work/full/image-06-full.jpg">
                  <span class="overlay-img"></span>
                  <span class="overlay-img-thumb font-icon-search"></span>
                </a>
                <!-- Thumb Image and Description -->
                <img src="assets/work/thumbs/image-06.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
              </li>
              <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
              <li class="item-thumbs span3 residencial">
                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Beach" href="assets/work/full/image-07-full.jpg">
                  <span class="overlay-img"></span>
                  <span class="overlay-img-thumb font-icon-search"></span>
                </a>
                <!-- Thumb Image and Description -->
                <img src="assets/work/thumbs/image-07.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
              </li>
              <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
              <li class="item-thumbs span3 reformas">
                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Bat" href="assets/work/full/image-10-full.jpg">
                  <span class="overlay-img"></span>
                  <span class="overlay-img-thumb font-icon-search"></span>
                </a>
                <!-- Thumb Image and Description -->
                <img src="assets/work/thumbs/image-10.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
              </li>
              <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
              <li class="item-thumbs span3 reformas">
                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Wild Cat" href="assets/work/full/image-11-full.jpg">
                  <span class="overlay-img"></span>
                  <span class="overlay-img-thumb font-icon-search"></span>
                </a>
                <!-- Thumb Image and Description -->
                <img src="assets/work/thumbs/image-11.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
              </li>
              <!-- End Item Project -->

              <!-- Item Project and Filter Name -->
              <li class="item-thumbs span3 reformas">
                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="HoneyBear" href="assets/work/full/image-12-full.jpg">
                  <span class="overlay-img"></span>
                  <span class="overlay-img-thumb font-icon-search"></span>
                </a>
                <!-- Thumb Image and Description -->
                <img src="assets/work/thumbs/image-12.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
              </li>
              <!-- End Item Project -->
            </ul>
          </section>

        </div>
      </div>
    </div>
    <!-- End Portfolio Projects -->
  </div>
</div>
<!-- End Our Work Section -->

<!-- About Section -->
<div id="about" class="page-alternate">
  <div class="container">
    <!-- Title Page -->
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Equipe</h2>
          <h3 class="title-description">
            <%= edit_me :team_title_description do %>
              Learn About our Team &amp; Culture.
            <% end %>
          </h3>

          <div class="page-description">
            <p>
              <%= edit_me :team_text do %>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. 
              Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus. 
              <% end %>
            </div>

          </div>
        </div>
      </div>
      <!-- End Title Page -->

      <div class="row margin-40">
        <div class="span4">
          <h3>Our Culture</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. 
            Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. </p>
            
            <p>Duis in tortor scelerisque felis mattis imperdiet. Donec at <a href="#">libero tellus</a>. Suspendisse consectetur consectetur bibendum.</p>
          </div>

          <div class="span4">
            <h3>Our Method</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut <strong>pretium nisl</strong> non justo condimentum id tincidunt nunc faucibus. 
              Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. </p>

              <p>Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus. Suspendisse consectetur consectetur bibendum.</p>
            </div>

            <div class="span4">
              <h3>Our Skills</h3>

              <div class="progress-bar">
                <div class="progress">
                  <span class="field">residencial</span>
                  <span class="field-value">60%</span>
                  <div class="bar" style="width: 60%;"></div>
                </div>
              </div>

              <div class="progress-bar">
                <div class="progress">
                  <span class="field">Development</span>
                  <span class="field-value">75%</span>
                  <div class="bar" style="width: 75%;"></div>
                </div>
              </div>

              <div class="progress-bar">
                <div class="progress">
                  <span class="field">UX/UI</span>
                  <span class="field-value">33%</span>
                  <div class="bar" style="width: 33%;"></div>
                </div>
              </div>

              <div class="progress-bar">
                <div class="progress">
                  <span class="field">Branding</span>
                  <span class="field-value">100%</span>
                  <div class="bar" style="width: 100%;"></div>
                </div>
              </div>    
            </div>

          </div>

          <div class="sep">
            <span class="separator"></span>
          </div>

          <!-- People -->
          <div class="row">

            <!-- Start Profile -->
            <div class="span4 profile">
              <div class="image-wrap">
                <div class="hover-wrap">
                  <span class="overlay-img"></span>
                  <span class="overlay-text-thumb">CTO/Founder</span>
                </div>
                <img src="assets/profile/profile-01.jpg" alt="John Doe">
              </div>
              <h3 class="profile-name">John Doe</h3>
              <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
                Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

                <div class="social">
                  <ul class="social-icons">
                    <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-dribbble"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                  </ul>
                </div>
              </div>
              <!-- End Profile -->

              <!-- Start Profile -->
              <div class="span4 profile">
                <div class="image-wrap">
                  <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Creative Director</span>
                  </div>
                  <img src="assets/profile/profile-02.jpg" alt="Jane Helf">
                </div>
                <h3 class="profile-name">Jane Helf</h3>
                <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
                  Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

                  <div class="social">
                    <ul class="social-icons">
                      <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                      <li><a href="#"><i class="font-icon-social-email"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- End Profile -->

                <!-- Start Profile -->
                <div class="span4 profile">
                  <div class="image-wrap">
                    <div class="hover-wrap">
                      <span class="overlay-img"></span>
                      <span class="overlay-text-thumb">Lead Designer</span>
                    </div>
                    <img src="assets/profile/profile-03.jpg" alt="Joshua Insanus">
                  </div>
                  <h3 class="profile-name">Joshua Insanus</h3>
                  <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
                    Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

                    <div class="social">
                      <ul class="social-icons">
                        <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                        <li><a href="#"><i class="font-icon-social-linkedin"></i></a></li>
                        <li><a href="#"><i class="font-icon-social-google-plus"></i></a></li>
                        <li><a href="#"><i class="font-icon-social-vimeo"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- End Profile -->

                </div>
                <!-- End People -->
              </div>
            </div>
            <!-- End About Section -->

            <!-- Big Blockquote -->
            <div class="big-quote page">
              <div class="container">
                <div class="row">
                  <div class="span12">
                    <p>We bring a personal and effective approach to every project we work on, which is why our clients love us and why they keep coming back.</p>
                    <span class="font-icon-blockquote"></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Big Blockquote -->

            <!-- Google Map -->
            <div id="map-area">
              <div class="map" id="map_1" data-mapLat="-15.75753" data-mapLon="-47.88720" data-mapZoom="13" data-mapTitle="Studio M4"></div>
            </div>
            <!-- End Google Map -->

            <!-- Contact Section -->
            <div id="contact" class="page">
              <div class="container">
                <!-- Title Page -->
                <div class="row">
                  <div class="span12">
                    <div class="title-page">
                      <h2 class="title">Contato</h2>
                      <h3 class="title-description">We’re currently accepting new client projects. We look forward to serving you.</h3>

                      <div class="page-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. 
                          Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus. 
                          <a href="#">Suspendisse consectetur</a> consectetur bibendum. Pellentesque posuere, ligula volutpat elementum interdum, diam arcu elementum ipsum, vel ultricies est mauris ut nisi.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Title Page -->

                  <!-- Contact Form -->
                  <div class="row">
                    <div class="span9">

                      <form id="contact-form" class="contact-form" action="#">
                        <p class="contact-name">
                          <input id="contact_name" type="text" placeholder="Seu nome" value="" name="name" />
                        </p>
                        <p class="contact-email">
                          <input id="contact_email" type="text" placeholder="Email para contato" value="" name="email" />
                        </p>
                        <p class="contact-message">
                          <textarea id="contact_message" placeholder="Deixe sua mensagem, entraremos em contato" name="message" rows="12" cols="40"></textarea>
                        </p>
                        <p class="contact-submit">
                          <a id="contact-submit" class="submit" href="#">Enviar Email</a>
                        </p>

                        <div id="response">

                        </div>
                      </form>

                    </div>

                    <div class="span3">
                      <div class="contact-details">
                        <h3>Nosso contato</h3>
                        <ul>
                          <li><a href="#">contato@studiom4.com.br</a></li>
                          <li>+ 55 61 3202-4510</li>
                          <li>
                            Studio M4
                            <br>
                            CLN 309 bloco C sala 206
                            <br>
                            CEP 70.755-530
                            <br>
                            Brasília, DF
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- End Services Form -->
                </div>
              </div>
              <!-- End Contact Section -->


              <!-- Footer -->
              <footer>
                <p class="credits">&copy;2013 Studio M4 Arquitetura.</p>
              </footer>
              <!-- End Footer -->

              <!-- Back To Top -->
              <a id="back-to-top" href="#">
                <i class="font-icon-arrow-simple-up"></i>
              </a>
              <!-- End Back to Top -->

