<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contato pelo site</h1>

    <p>
      Cliente.: <%= @contact.name %><br/>
      Email...: <%= @contact.email %><br/>
      Telefone...: <%= @contact.phone %><br/>
      Mensagem: <%= @contact.message %><br/>
    </p>
  </body>
</html>