.landing-arquitetura-na-pratica
  margin-top: 30px
  margin-bottom: 30px
  background: white

  .logo
    text-align: center
    img
      width: 200px
      margin: 50px auto

  .hero
    text-align: center
    img
      margin: 0 auto 40px
      width: 100%
      @media (min-width: 980px)
        width: 700px


  p
    text-align: center
    color: #34255b
    font-size: 30px
    font-weight: bold

  .about
    .span4
      float: left
      width: 49%
      @media (min-width: 768px) and (max-width: 979px)
        //width: 335px
        width: 45%
      @media (min-width: 980px)
        //width: 40%
        width: 370px


    .offset3
      margin-top: 17px
      margin-left: 10px
      @media (min-width: 768px) and (max-width: 979px)
        margin-left: 4%
      @media (min-width: 980px)
        margin-left: 15%
      @media (min-width: 1200px)
        margin-left: 21%

    b
      color: #34255b

  .form-wrap
    text-align: center
    padding-bottom: 50px
    margin-top: 40px