.landing-arquitetura-na-pratica
  body

  background: white
  font-family: 'Open Sans'

  h3
    color: #3E0D5B

  .container 
    padding-top: 30px
    .row
      padding-top: 20px

  .hero
    background-color: #3E0D5B
    text-align: center
    img
      margin-top: 30px
      width: 100%

  .footer-image
    img
      margin: 0 auto
      width: 100%

  .content
    font-size: 16px
    font-family: 'Roboto', sans-serif
    text-align: justify
    line-height: 26px

  ul 
    padding: 0 0 0 15px
    li
      list-style-type: disc
      padding-top: 10px
      &:last-child
        margin-bottom: 50px

  .btn
    margin-top: 50px

  .col-centered
    float: none
    margin: 0 auto

  .text-right
    @media (max-width: 768px)
      text-align: center
    @media (min-width: 980px)
      h3
        margin-top: 0px
