.landing-arquitetura-na-pratica
  margin-top: 30px
  margin-bottom: 30px
  background: white

  .logo
    text-align: center
    img
      width: 200px
      margin: 50px auto

  .hero
    text-align: center
    img
      width: 700px
      margin: 0 auto 40px

  p
    text-align: center
    color: #34255b
    font-size: 30px
    font-weight: bold

  .form-wrap
    text-align: center
    padding-bottom: 50px
